<!DOCTYPE html>
<html lang="en">
 <head>
   <title>testProject</title>
 </head>
 <body>
   <p><a href="{{ request.route_url('list') }}">View list of entries</a></p>
   <p><a href="{{ request.route_url('exports') }}">View the unloading list</a></p>
 </body>
</html>